@{
    ViewBag.Title = "About";
}
<style>
    p {
        margin: 0 0px 24px 10px;
        line-height: 23px;
        font-size: 15px;
    }
    .aboutselected a {
        border-bottom-color: #fecc17 !important;
        color: #fecc17 !important;
    }
    .job_tags {
        margin: 0 0px 10px 10px !important;
    }
</style>

<div class="mj_pagetitle2">
    <div class="mj_pagetitleimg">
        <img src="@Url.Content("~/Assets/Portal/themes/meshjobs/images/job_detail_benner.jpg")" alt="">
        <div class="mj_mainheading_overlay"></div>
    </div>
    <div class="mj_pagetitle_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_mainheading">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="mj_joblogo">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="mj_pageheading mj_toppadder50 ">
                                    <h1>About Us</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <h3 style="margin-bottom:30px;">
                                About Us:
                            </h3>
                            <p>Jobjabs is the brand of SPAR Business Services Pvt Ltd and is pioneer of organized recruitment services in India. Over the years, we have acted as preferred talent acquisition partner to multinationals and leading Indian businesses to emerge as the leading recruitment brand nationally. This combined with our role as trusted consultants for Indian professionals translates into our core capability - <b>Building Careers Building Organizations</b>.</p>
                            <p>Jobjabs.com roots in management consulting enable us to bring a unique approach to recruitment at the junior, middle and senior management levels.</p>
                            <p>“We are into the business of people where we deals with the masses every day to support the economic growth by timely delivery of our recruitment services to the society.”</p>
                            <p class="job_tags"><b>Three basic Principals of <a href="@Url.Content("~/")">JOBJABS.COM:</a></b></p>
                            <p class="job_tags">1.    Nothing is Free.</p>
                            <p class="job_tags">2.    You have to earn everything.</p>
                            <p class="job_tags">3.    Do what is in your control.</p>
                            <p style="margin-top:20px;">Our Punch Line is <b>Building Careers Building Organizations</b>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
