
@{
    ViewBag.Title = "Team";
}
<style>
    .teamselected a {
        border-bottom-color: #fecc17 !important;
        color: #fecc17 !important;
    }
</style>
<div class="container" style="margin-bottom:50px; ">
    <div class="row">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                                <div class="mj_mainheading mj_toppadder80 mj_bottompadder20">
                                    <h1>Meet Our Team</h1>
                                </div>
                            </div>
                        </div><div class="row">
                                  <div id="mj_grid">
                                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mix mix-all managers" data-value="1">
                                          <div class="mj_team_wrapper">
                                              <div class="mj_team_img">
                                                  <img src="@Url.Content("~/Assets/Portal/images/team/PranaySingh.jpg")" alt="team">
                                              </div>
                                              <div class="mj_team_info mj_toppadder80">
                                                  <span class="animated fadeInUp mj_toppadder20">CEO & Founder</span>
                                                  <h4 class="animated fadeInDown"><a>Pranay Singh</a></h4>
                                                  <ul>
                                                      <li>
                                                          <a href="https://www.facebook.com/profile.php?id=100005280468128" target="_blank"><i class="fa fa-facebook"></i></a>
                                                      </li>
                                                      <li>
                                                          <a href="https://www.linkedin.com/in/pranay-singh-21a65928/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mix mix-all accountants" data-value="1">
                                          <div class="mj_team_wrapper">
                                              <div class="mj_team_img">
                                                  <img src="@Url.Content("~/Assets/Portal/images/team/RakeshKumar.jpg")" alt="team">
                                              </div>
                                              <div class="mj_team_info mj_toppadder80">
                                                  <span class="animated fadeInUp mj_toppadder20">Head of Operations</span>
                                                  <h4 class="animated fadeInDown"><a>Rakesh Kumar</a></h4>
                                                  <ul>
                                                      <li>
                                                          <a href="https://www.facebook.com/rakesho2" target="_blank"><i class="fa fa-facebook"></i></a>
                                                      </li>
                                                      <li>
                                                          <a href=" https://www.linkedin.com/in/rakeshkrojha/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div> 
                                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mix mix-all accountants" data-value="1">
                                          <div class="mj_team_wrapper">
                                              <div class="mj_team_img">
                                                  <img src="@Url.Content("~/Assets/Portal/images/team/AshwithShetty.jpeg")" alt="team">
                                              </div>
                                              <div class="mj_team_info mj_toppadder80">
                                                  <span class="animated fadeInUp mj_toppadder20">Head of Franchise  Acquisition</span>
                                                  <h4 class="animated fadeInDown"><a>Ashwith Shetty</a></h4>
                                                  <ul>
                                                      <li>
                                                          <a href="https://www.facebook.com/ashwith333" target="_blank"><i class="fa fa-facebook"></i></a>
                                                      </li>
                                                      <li>
                                                          <a href=" https://www.linkedin.com/in/ashwith-shetty-b96ba498/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mix mix-all designers" data-value="1">
                                          <div class="mj_team_wrapper">
                                              <div class="mj_team_img">
                                                  <img src="@Url.Content("~/Assets/Portal/images/team/RadhaRathore.jpg")" alt="team">
                                              </div>
                                              <div class="mj_team_info mj_toppadder80">
                                                  <span class="animated fadeInUp mj_toppadder20">Manager Operations</span>
                                                  <h4 class="animated fadeInDown"><a>Radha Rathore</a></h4>
                                                  <ul>
                                                      <li>
                                                          <a href="https://www.facebook.com/radha.rathore.56" target="_blank"><i class="fa fa-facebook"></i></a>
                                                      </li>
                                                      <li>
                                                          <a href="https://www.linkedin.com/in/radha-rathore-53bb09147/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="clearfix"></div>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="entry-footer"></footer><!-- .entry-footer -->
    </div>
</div>

