@using JobJabs.Entity;
@model JobJabs.ViewModel.VM_BlogPostList
@{
    ViewBag.Title = "From The Managing Director's Desk";
}
<style>
    .ceodeskselected a {
        border-bottom-color: #fecc17 !important;
        color: #fecc17 !important;
    }
    .mj_mainheading h3::after {
        width: 94% !important;
    }
    .bptext {
        font-size: 16px;
    }
</style>

<div class="mj_pagetitle2">
    <div class="mj_pagetitleimg">
        <img src="@Url.Content("~/Assets/Portal/themes/meshjobs/images/job_detail_benner.jpg")" alt="">
        <div class="mj_mainheading_overlay"></div>
    </div>
    <div class="mj_pagetitle_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_mainheading">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0">
                                <div class="mj_joblogo">
                                    <img src="@Url.Content("~/Assets/Portal/Images/CEO.jpg")" style="position: absolute;
left: 0px;
top: -71px;
width: 275px;"/>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="mj_pageheading mj_toppadder50 ">
                                    <h1>From The CEO Desk</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container" style="padding-top:40px;">
        @if (Model.BlogPostList.BlogPosts.Count > 0)
        {
            foreach (BlogPostDetail blogPost in Model.BlogPostList.BlogPosts)
            {
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">&nbsp;</div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="mj_contact_info mj_bottompadder50" style="margin-top:20px;border-radius: 13px 13px 13px 13px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="mj_mainheading mj_toppadder40 mj_bottompadder30" style="padding-left:40px;">
                                <h3 >@blogPost.BPHeader</h3>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div style="padding:0px 40px;" class="bptext">
                                        @(Html.Raw(blogPost.BPText))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }
            }
        </div>
</div>


